body {
    background-color: #13161c;
}
.logo {
  width: 40vw;
  margin: auto;
  margin-top: 15%;
}
.name {
  text-align: center;
  margin-left: 7%;
  width: 35vw;
  color: #dcdee0;
  font-size: 2.15em;
  font-family: 'Open Sans', sans-serif;
}

.paragraphs {
  font-size: 1.15em;
  color: #dcdee0;
  width: 42vw;
  line-height: 130%;
}

.typewrite {
  color: #325c8a;
}

.location {
  color: #325c8a;
}

footer, .footer {
color: #363640;
text-align: right;
  position: fixed;
  right: 5%;
  bottom: 0;
  width: 100%;
  font-family: "Open Sans", Roboto;
  opacity: 0.2;

}


.socials {
  font-size: 1rem;
  padding-top: 1rem;
  color: #b7babd;
  text-align: center;
  word-spacing: 2em;
}
.links {
  color: #dcdee0;
}

.links:hover {
color: #a7a9d1;
}

div {
  margin-bottom: 1rem;
}

.here {
  color: #573ef7;
}

.here:hover {
  color: #3314fa;
}

/* ROBOTO FONT CSS */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* MEDIA QUERIES BELOW */

@media only screen and (max-width: 650px) {
  .paragraphs {
    font-size: 2.5vw;
  }
  .socials {
    font-size: 2.25vw;
  }
  .logo {
    font-size: 65%;
  }
}